.app-header {

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Certifique-se de que o header está acima de outros elementos */

  .menu {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
  }

  .mat-toolbar {
    background: #D6DBD4;
  }

  @media screen and (min-width: 420px) {
    .menu {
      justify-content: flex-start;
    }
  }


}
