<h2 class="titulo">INFORMAÇÕES DO LOCAL</h2>
<section class="container">
  <div class="location-info">
    <span><strong>Nome:</strong> Espaço Prih Quirino</span>
    <span
      ><strong>Endereço:</strong>R. Dr. Armando Brandão, 48 - Vila Matilde, São
      Paulo - SP, 03513-020</span
    >
    <span><strong>Horário:</strong>16:00 às 22:00.</span>
  </div>

  <div class="map-container">

  </div>
  <div class="map-actions">
    <app-botao-com-icone
      path="assets/imagens/google_gps_location_map_icon.svg"
      tipoAplicativo="GoogleMaps"
    ></app-botao-com-icone>
    <app-botao-com-icone
      path="assets/imagens/waze_icon.svg"
      tipoAplicativo="Waze"
    ></app-botao-com-icone>
    <app-botao-com-icone
      path="assets/imagens/uber_icon.svg"
      tipoAplicativo="Uber"
    ></app-botao-com-icone>
  </div>
</section>
