<h3 class="presentes_titulo">PRESENTES</h3>
<section class="container">
  <app-card-presente
    class="item"
    [preco]="80"
    tituloPresente="LENÇO DA NOIVA"
    urlImg="./assets/imagens/guardanapo-noiva.jpg"
    descricaoPresente="Lenço para noiva não borrar toda a maquiagem"
    pathImgQrCode="./assets/imagens/pix-80.jpg"
    pixCopyPaste="00020126760014BR.GOV.BCB.PIX013644a0e29a-219b-4f67-9105-2b75059c85790214LENÇO DA NOIVA520400005303986540580.005802BR5925David Leonard Udala Corre6009SAO PAULO61080540900062240520nRtUCMAULOchuZz5bv4f63049E73"
  ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="100"
    tituloPresente="JANTAR DOS NOIVOS"
    descricaoPresente="Garanta o jantar dos noivos durante o 1º mes"
    urlImg="./assets/imagens/jantar-noivos.jpg"
    pathImgQrCode="./assets/imagens/pix-100.jpg"
    pixCopyPaste="00020126790014BR.GOV.BCB.PIX013644a0e29a-219b-4f67-9105-2b75059c85790217JANTAR DOS NOIVOS5204000053039865406100.005802BR5925David Leonard Udala Corre6009SAO PAULO61080540900062240520qKF0paXfsNCrhjs5bv4f6304E1FF"
  ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="150"
    tituloPresente="ROLO DE MACARRAO"
    descricaoPresente="Rolo de macarrão caso o noivo não se comporte"
    urlImg="./assets/imagens/rolo-macarrao.jpg"
    pathImgQrCode="./assets/imagens/pix-150.jpg"
    pixCopyPaste="00020126780014BR.GOV.BCB.PIX013644a0e29a-219b-4f67-9105-2b75059c85790216ROLO DE MACARRÃO5204000053039865406150.005802BR5925David Leonard Udala Corre6009SAO PAULO61080540900062240520Gu9H2vldmiLuEwn5bv4f630430DB"
    ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="180"
    tituloPresente="CAPACETE"
    descricaoPresente="Capacete contra o rolo de macarrão para o noivo"
    urlImg="./assets/imagens/capacete-macarrao.jpg"
    pathImgQrCode="./assets/imagens/pix-180.jpg"
    pixCopyPaste="00020126700014BR.GOV.BCB.PIX013644a0e29a-219b-4f67-9105-2b75059c85790208CAPACETE5204000053039865406180.005802BR5925David Leonard Udala Corre6009SAO PAULO61080540900062240520D3k2jPIM79MVf4s5bv4f630462A2"
    ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="220"
    tituloPresente="DESPEDIDA SOLTEIRO"
    descricaoPresente="Patrocine a despedida de solteiro do casal."
    urlImg="./assets/imagens/despedida-solteiro.jpg"
    pathImgQrCode="./assets/imagens/pix-220.jpg"
    pixCopyPaste="00020126800014BR.GOV.BCB.PIX013644a0e29a-219b-4f67-9105-2b75059c85790218DESPEDIDA SOLTEIRO5204000053039865406220.005802BR5925David Leonard Udala Corre6009SAO PAULO61080540900062240520yuWAIXi0X31zyOJ5bv4f6304E35E"
    ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="280"
    tituloPresente="CURSO ONLINE!"
    descricaoPresente="Curso online para ensinar o noivo a lavar a louça."
    urlImg="./assets/imagens/curso-online-louca.webp"
    pathImgQrCode="./assets/imagens/pix-280.jpg"
    pixCopyPaste="00020126750014BR.GOV.BCB.PIX013644a0e29a-219b-4f67-9105-2b75059c85790213CURSO ONLINE!5204000053039865406280.005802BR5925David Leonard Udala Corre6009SAO PAULO610805409000622405203vhY1PcTkXbaJez5bv4f630411B5"
    ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="300"
    tituloPresente="ALUGUEL BEBE"
    descricaoPresente="Aluguel de um bebe para treinamento."
    urlImg="./assets/imagens/aluguel-bebe.jpg"
    pathImgQrCode="./assets/imagens/pix-300.jpg"
    pixCopyPaste=""
    ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="360"
    tituloPresente="SALVE O CASAMENTO"
    descricaoPresente="Incluí itens como sushi para a noiva e churrasco para o noivo"
    urlImg="./assets/imagens/surrasco.webp"
    pathImgQrCode="./assets/imagens/pix-360.jpg"
    pixCopyPaste=""
    ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="400"
    tituloPresente="APOSENTADORIA"
    descricaoPresente="Patrocine a aposentadoria dos noivos"
    urlImg="./assets/imagens/aposentadoria-noivos.jpeg"
    pathImgQrCode="./assets/imagens/pix-400.jpg"
    pixCopyPaste=""
    ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="500"
    tituloPresente="TERAPIA DE CASAL"
    descricaoPresente="Para descobrir quem esqueceu de apagar a luz."
    urlImg="./assets/imagens/terapia-casal.jpg"
    pathImgQrCode="./assets/imagens/pix-500.jpg"
    pixCopyPaste=""
    ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="700"
    tituloPresente="SOCORRO!!!"
    descricaoPresente="Caso algo fuja dos planos."
    urlImg="./assets/imagens/SOS.webp"
    pathImgQrCode="./assets/imagens/pix-700.jpg"
    pixCopyPaste=""
    ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="1000"
    tituloPresente="O INESPERADO"
    descricaoPresente="Se por alguma intervenção divina..."
    urlImg="./assets/imagens/mao-divina.jfif"
    pathImgQrCode="./assets/imagens/pix-1000.jpg"
    pixCopyPaste=""
    ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="3000"
    tituloPresente="MAIS DO QUE FAMILIA"
    descricaoPresente="Seja nosso parente preferido."
    urlImg="./assets/imagens/parente-preferido.jpeg"
    pathImgQrCode="./assets/imagens/pix-3000.jpg"
    pixCopyPaste=""
    ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="5000"
    tituloPresente="NÃO CONVIDADO"
    descricaoPresente="Pode levar uma pessoa que não foi convidada pelos noivos."
    urlImg="./assets/imagens/nao-convidado.jfif"
    pathImgQrCode="./assets/imagens/pix-5000.jpg"
    pixCopyPaste=""
    ></app-card-presente>
  <app-card-presente
    class="item"
    [preco]="10000"
    tituloPresente="LUA DE MEL"
    descricaoPresente="Ir para Lua de mel com os noivos."
    urlImg="./assets/imagens/lua-mel.avif"
    pathImgQrCode="./assets/imagens/pix-10000.jpg"
    pixCopyPaste=""
    ></app-card-presente>
</section>
