<h3 class="presentes_titulo">PRESENTES</h3>
<section class="container">
  <app-card-presente class="item" [preco]="100" tituloPresente="LENÇO DA NOIVA" urlImg="./assets/imagens/guardanapo-noiva.jpg" descricaoPresente="Lenço para noiva não borrar toda a maquiagem"></app-card-presente>
  <app-card-presente class="item" [preco]="200" tituloPresente="JANTAR DOS NOIVOS" descricaoPresente="Garanta o jantar dos noivos durante o 1º mes" urlImg="./assets/imagens/jantar-noivos.jpg"></app-card-presente>
  <app-card-presente class="item" [preco]="300" tituloPresente="ALUGUEL BEBE" descricaoPresente="Aluguel de um bebe para treinamento." urlImg="./assets/imagens/aluguel-bebe.jpg"></app-card-presente>
  <app-card-presente class="item" [preco]="400" tituloPresente="DESPEDIDA SOLTEIRO" descricaoPresente="Patrocine a despedida de solteiro do casal." urlImg="./assets/imagens/despedida-solteiro.jpg"></app-card-presente>
  <app-card-presente class="item" [preco]="500" tituloPresente="APOSENTADORIA DOS NOIVOS" descricaoPresente="Patrocine a aposentadoria dos noivos" urlImg="./assets/imagens/aposentadoria-noivos.jpeg"></app-card-presente>
  <app-card-presente class="item" [preco]="600" tituloPresente="ROLO DE MACARRAO" descricaoPresente="Rolo de macarrão caso o noivo não se comporte" urlImg="./assets/imagens/rolo-macarrao.jpg" ></app-card-presente>
  <app-card-presente class="item" [preco]="600" tituloPresente="CAPACETE" descricaoPresente="Capacete contra o rolo de macarrão para o noivo" urlImg="./assets/imagens/capacete-macarrao.jpg"></app-card-presente>
  <app-card-presente class="item" [preco]="600" tituloPresente="NÃO CONVIDADO" descricaoPresente="Pode levar uma pessoa que não foi convidada pelos noivos." urlImg="./assets/imagens/nao-convidado.jfif"></app-card-presente>
  <app-card-presente class="item" [preco]="600" tituloPresente="MAIS DO QUE FAMILIA" descricaoPresente="Seja nosso parente preferido."></app-card-presente>
  <app-card-presente class="item" [preco]="600" tituloPresente="LUA DE MEL" descricaoPresente="Ir para Lua de mel com os noivos."></app-card-presente>
  <app-card-presente class="item" [preco]="600" tituloPresente="O INESPERADO" descricaoPresente="Se por alguma intervenção divina"></app-card-presente>
  <app-card-presente class="item" [preco]="600" tituloPresente="TERAPIA DE CASAL" descricaoPresente="Para descobrir quem esqueceu de apagar a luz."></app-card-presente>
  <app-card-presente class="item" [preco]="600" tituloPresente="SOCORRO!!!" descricaoPresente="Caso algo fuja dos planos."></app-card-presente>
  <app-card-presente class="item" [preco]="600" tituloPresente="CURSO ONLINE!" descricaoPresente="Curso online para ensinar o noivo a lavar a louça."></app-card-presente>
  <app-card-presente class="item" [preco]="600" tituloPresente="SALVE O CASAMENTO" descricaoPresente="Incluí itens como sushi para a noiva e churrasco para o noivo"></app-card-presente>
</section>
