/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
}


.fonte-casamento-cursiva {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
}


