<h2 mat-dialog-title class="titulo">PIX QRCode</h2>
<mat-dialog-content>
  <img
    height="250px"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Link_pra_pagina_principal_da_Wikipedia-PT_em_codigo_QR_b.svg/800px-Link_pra_pagina_principal_da_Wikipedia-PT_em_codigo_QR_b.svg.png"
    alt="QrCode"
  />
  <app-botao-copiar textToCopy="0020126870014BR.GOV.BCB.PIX013644a0e29a-219b-4f67-9105-2b75059c85790225PRESENTE - LENÇO DA NOIVA520400005303986540580.005802BR5925David Leonard Udala Corre6009SAO PAULO61080540900062240520Q80Y9oEADNGyjDn5bv4f6304F164"></app-botao-copiar>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn" class="button-montserrat">Voltar</button>
</mat-dialog-actions>
