<div class="card">
  <mat-card class="teste">
    <mat-card-header>
      <mat-card-title class="titulo"> {{tituloPresente}} </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ urlImg }}" width="300px" height="200px" />
    <mat-card-content>
      <p class="fonte-casamento-cursiva">
        {{ descricaoPresente }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <p class="card-preco">{{ preco | currency : "BRL" }}</p>
      <button
        (click)="openModalPix()"
        class="button-montserrat"
        mat-raised-button
      >
        PRESENTEAR <mat-icon color="warn">favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
